<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Continuous Integration and Continuous Delivery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/docs.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<nav class="navbar navbar-bright navbar-fixed-top" id="mynavbar" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Continuous Integration and Continuous Delivery</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
				<li>
					<a href="/">Home</a>
				</li>
        <li>
          <a href="#sec">Article</a>
        </li>
        <li>
          <a href="https://github.com/itech001/ciandcd">About</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>

<div class="container" id="myheader">
      <div class="row">
        <!--<img src="//placehold.it/900x100" class="img-responsive">-->
      </div>
</div><!--/container-->


<!--main-->
<div class="container" id="mymain">
	<div class="row">
        CIANDCD_BODY
  	</div><!--/row-->
</div><!--/container-->

<div class="container-fluid" id="myfooter">
	<div>
	<div class="row">
		<div class='col-md-5' id='rightCol'></div>
		<div class='col-md-4' id='rightCol'>
		Created by itech001@126.com
	  </div>
	</div>
  </div>
</div><!--/container-->

<!-- script references -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
